<div class="container-fluid bg-darkgrey">
    
    <div class="row screen-header">
        <span>Past Orders</span>
    </div>
    <div class="row">
        <% if @past_orders.blank? %>
            <div class="col-md-12 text-center">
                <span>
                    No Past Orders
                </span>
            </div>
        <% end %>
        <% @past_orders.each do |order| %>
            <div class="flex-container">
                <%= order.show.movie_name%>
                <br/>
                <%= order.show.start_time.strftime("Start at %m/%d/%Y at %I:%M%p") %>
            </div>
        <% end %>
    </div>

    <div class="row screen-header">
        <span>Upcoming Orders</span>
    </div>
    <div class="row">
        <% if @upcomming_orders.blank? %>
            <div class="col-md-12 text-center">
                <span>
                    No Upcomming Orders
                </span>
            </div>
        <% end %>
        <% @upcomming_orders.each do |order| %>
            <div class="flex-container">
                <%= order.show.movie_name%>
                <br/>
                <%= order.show.start_time.strftime("Start at %m/%d/%Y at %I:%M%p") %>
            </div>
        <% end %>
    </div>

    <div class="row screen-header">
        <span>Running Shows</span>
    </div>
    <div class="row">
        <% if @running_orders.blank? %>
            <div class="col-md-12 text-center">
                <span>
                    No Running Shows
                </span>
            </div>
        <% end %>
        <% @running_orders.each do |order| %>
            <div class="flex-container">
                <%= order.show.movie_name%>
                <br/>
                <%= order.show.start_time.strftime("Start at %m/%d/%Y at %I:%M%p") %>
            </div>
        <% end %>
    </div>

    <%= link_to screens_path, class:"float-button" do %>
        <i class="fas fa-angle-double-right"></i>
    <% end %>

</div>