<style>
    .container {
    padding: 2rem 0rem;
    }

    h4 {
    margin: 2rem 0rem 1rem;
    }

    .table-image {
    td, th {
        vertical-align: middle;
    }
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Seats Booked</th>
            <th scope="col">Movie Name</th>
            <th scope="col">Duration</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <%- Order.all.each.each do |order| %>
                <tr>
                    <th scope="row"><%= order.created_at.strftime("%m/%d/%Y at %I:%M%p")%></th>
                    <td><%= order.seat_ids.try(:count) %></td>
                    <td><%= order.show.movie_name %></td>
                    <td><%= order.show.duration %></td>
                    <th scope="col">$ <%= order.price %></th>
                    <td>
                    <%= link_to order_path(order.id), :class => "btn btn-sm" do %>
                      <i class="fas fa-eye"></i>
                    <% end %>

                    <%= link_to order_path(order.id, format: :pdf), :class => "btn btn-sm" do %>
                      <i class="fas fa-print"></i>
                    <% end %>
                    </td>
                </tr>
            <%- end %>
        </tbody>
      </table>
    </div>
  </div>
</div>