<style>
    .container {
    padding: 2rem 0rem;
    }

    h4 {
    margin: 2rem 0rem 1rem;
    }

    .table-image {
    td, th {
        vertical-align: middle;
    }
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Seats Booked</th>
            <th scope="col">Movie Name</th>
            <th scope="col">Duration</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <%- @orders.each do |order| %>
                <tr>
                    <th scope="row"><%= order.created_at.strftime("Printed on %m/%d/%Y at %I:%M%p")%></th>
                    <td><%= order.seat_ids.count %></td>
                    <td><%= order.show.movie_name %></td>
                    <td><%= order.show.duration %></td>
                    <th scope="col">$ <%= order.price %></th>
                    <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </td>
                </tr>
            <%- end %>
        </tbody>
      </table>
    </div>
  </div>
</div>