<style>
    .checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: unset !important;
    /* background: blue; */
}

.bg-white {
    background: white;
}

.bg-red {
    background: #d43c6c;
}
.bg-green {
    background: #1d866f;
}

.custom-form {
    width: 100%;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
}

.row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
}

.text-capitalise {
    text-transform: capitalize;
}

.subheader-row {
    background: #d8dad8;
    margin: 10px 100px;
    padding: 5px;
}

.movie-detail-header {
    text-align: center;
    background: #d7dad8;
    padding: 5px;
}
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="border-right: 2px dotted gray;">
            <div class="movie-detail-header">
                Movie Detail
            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="font-size: 1.2em">
                    Selected Screen
                </div>
                <div class="col-md-12 text-center" style="font-size: 1.2em">
                    <strong><%= @show.screen.name%></strong>
                </div>
                <div class="col-md-12 text-center" style="font-size: 1.2em">
                    Movie Name 
                </div>
                <div class="col-md-12 text-center" style="font-size: 1.2em">
                    <strong><%= @show.movie_name%></strong>
                </div>
                <div class="col-md-12 text-center" style="font-size: 1.2em">
                    Movie Timing 
                </div>
                <div class="col-md-12 text-center" style="font-size: 1.2em">
                    <strong><%= @show.start_time.strftime("%d %b %Y, %I:%M%p") %></strong>
                </div>
            </div>
        </div>
        <div class="col-md-9 bg-white">
        <%= form_with url: "/screens/#{@show.screen_id}/shows/#{@show.id}/seats/book", class:"custom-form", method: :post do |form| %>
            <%- @show.screen.seats.order('created_at DESC').group_by(&:category).each do |category, seats|%>
                <div class="text-center subheader-row">
                    <strong class="text-capitalise"><%= category %></strong> ($<span> <%= seats[0].price%> </span>)
                </div>
                <div class="row-flex">
                    <%- seats.each_with_index do |seat, index|%>
                        <div class="custom-control custom-checkbox checkbox-xl">
                            <%= check_box_tag "seat_id[]", seat.id, false, disabled: seat.booked?, class:"custom-control-input", id:"seat-#{seat.id}" %>
                            <%= label_tag "", nil, class: 'custom-control-label', for:"seat-#{seat.id}" %>
                        </div>
                        <%= hidden_field_tag "screen_id", seat.screen_id %>
                        <%= hidden_field_tag "show_id", @show.id %>
                    <% end %>
                </div>
                
            <%- end %>
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 20px;">
                    <%= submit_tag "Save", data: { confirm: "Are you sure?" }%>
                </div>
            </div>
        <% end %>
        </div>
    </div>

</div>


