<!DOCTYPE html>
<html>
  <head>
    <title>Promobi Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_admin.nil? %>
      <%= render partial: './shared/sidebar' %>
    <% end %>
    <div class="main">
        <%= render partial: './shared/flash_message' %>
        <%= yield %>
    </div>
  </body>
</html>
